.calender{
    background-color: rgb(221, 242, 255);
    min-width: 50vw;
    max-width: fit-content;
    min-height: 50vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;

}

.calender-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* .calender-header{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
} */


/* /////////////////////////////////// */

.calender-header-left{
    display: flex;
}
.calender-header-right{

}

/* /////////////////////////////////// */





.calender-body{
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calender-body-week{
    display: grid;
    border: 1px solid rgb(0, 132, 255);
    grid-template-columns: repeat(7, 1fr);
    background-color: aliceblue;
    box-sizing: border-box;
}
.calender-body-week-day{
    display: flex;
    margin: 1px;
    width: 4em;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(0, 132, 255);

}
.calender-body-date{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    box-sizing: content-box;

}
.calender-body-date-item{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex: auto;
    background-color: aliceblue;
    border: 1px dotted rgba(17, 0, 255, 0.267);
    width: 4em;
    height: 4em;
}
.calender-body-date-item.disable{
    background-color: rgb(219, 219, 219);
}
.calender-body-date-item:not(.active):hover{
    background-color: rgba(97, 181, 255, 0.486);
    transform: scale(1.1);
}
.calender-body-date-item.active:hover{
    transform: scale(1.1);
}
.calender-body-date-item.disable:hover{
    background-color: rgb(219, 219, 219);
    transform: scale(1);
}

.active{
    background-color: rgb(97, 181, 255);
}
