.App {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  width: 80vw;
  height: 95vh;
  padding-bottom: 5em;
  background-color: antiquewhite;
}
.input-box{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 1em;
  padding: 0.3em;
  width: 100%;
  background-color: rgb(132, 135, 138);
  border-radius: 0.25em;
}
.input-box .input{
  border: none;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: fit-content;
  outline: none;
  font-size: x-large;
  padding-right: 2em;
  background-color: hsla(0, 0, 100, 0.1);
}
.button{
  background-color: rgb(41, 117, 94);
  position: absolute;
  width: 2em;
  height: 2em;
  right: 0em;
  transform: translateX(1em);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  padding: 2em;
}
.button:hover{
  background-color: rgb(52, 146, 118);
}
.button:active{
  background-color: rgb(13, 107, 21);
}



.todo-list{
  width: 70%;
  height: 90%;
  background-color: aquamarine;
  margin: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  
}
.todo-item{
  width: 97%;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  padding: 0.2em;
  display: flex;
  justify-content: space-between;
}







